[Unit]
Description=telnet proxy Server

[Service]
Type=simple
ExecStart=-/usr/local/bin/websockify 23 auto
User=nobody
NoNewPrivileges=true
#SystemCallFilter=getrlimit
#SystemCallFilter=@network-io,@basic-io
#SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
AmbientCapabilities=CAP_NET_BIND_SERVICE

StandardError=journal

[Install]
WantedBy=multi-user.target
